.contact_main {
  margin-top: 40px;
  background: url("/images/default/banner.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
.contact_main .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0.7;
  z-index: 0;
}
.contact_container {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 50%;
  transform: translate(10%, -50%);
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.contact_container h1 {
  font-size: 8vw;
  font-weight: bold;
  letter-spacing: 0px;
}
.contact_container * {
  color: #ffffff;
}
.contact_container ul {
  margin: 5px 0 0 150px;
}
.contact_container ul li {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  position: relative;
  padding: 10px 0;
}
.contact_container ul li:nth-child(2) {
  margin: 20px 0;
}
.contact_container ul li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background: #ffffff;
  transition: 0.3s;
}
.contact_container ul li:hover::after {
  width: 0;
}

.teem {
  padding: 100px 0;
}
.teem p {
  line-height: 25px;
}
.teem p:nth-child(even) {
  margin: 10px 0;
}
.teem_stiky_inner {
  position: sticky;
  top: calc(50% - 100px);
}
.teem_container > .left {
  width: 500px;
}
.teem_container > .right {
  width: calc(100% - 650px);
  margin-left: 150px;
}
.teem_container > .right .grid {
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
}
.teem_container > .right .grid img {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.teem_container > .right img {
  width: 100%;
}
.teem_container > .right > div:first-child {
  width: 100%;
  margin-bottom: 50px;
}
.teem_container > .right > div:first-child .teem_member {
  width: 50%;
}
.teem_container > .right > div:first-child .teem_member:last-child {
  margin-left: 50px;
}
.teem_container > .right > div:first-child img {
  height: 400px;
}
.teem_container > .right > div:last-child .teem_member:nth-child(2) {
  margin: 0 50px;
}
.teem_container > .right .teem_member {
  cursor: pointer;
}
.teem_container > .right .teem_member .img_hover {
  overflow: hidden;
  margin-bottom: 20px;
  transition: 0.3s;
}
.teem_container > .right .teem_member img {
  transition: 0.3s;
}
.teem_container > .right .teem_member p {
  margin-bottom: 5px;
}
.teem_container > .right .teem_member span {
  font-weight: bold;
  font-size: 25px;
}
.teem_container > .right .teem_member:hover img {
  transform: scale(1.2);
}
.teem_container > .right .teem_member:hover .img_hover {
  transform: scale(0.97);
}
.teem_info {
  position: fixed;
  background: #f2f2f2;
  height: 100vh;
  width: 100vw;
  right: -100vw;
  top: 0;
  z-index: 99;
}
.teem_info > div.flex {
  height: inherit;
}
.teem_info.active {
  right: 0;
}
.teem_info .right, .teem_info .left {
  width: 50%;
}
.teem_info .left {
  width: 200%;
  align-items: center;
  justify-content: center;
}
.teem_info .left.active {
  width: 50%;
}
.teem_info .left > div {
  width: 70%;
}
.teem_info .left .el {
  opacity: 0;
}
.teem_info .left .header span {
  font-weight: 300;
  font-size: 46px;
  margin: 10px 0 40px 0;
  display: block;
}
.teem_info .left .body p {
  line-height: 25px !important;
}
.teem_info .left .body p:not(:last-child) {
  margin-bottom: 25px;
}
.teem_info .left .social {
  margin-top: 80px;
}
.teem_info .left .social a {
  display: block;
}
.teem_info .left .social a:not(:last-child) {
  margin-right: 20px;
}
.teem_info img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#cursor {
  --size: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: var(--size);
  width: var(--size);
  border: 2px solid #232323;
  border-radius: 50%;
  transform: translate3d(calc(100vw * var(--cursor-x) - var(--size) / 2), calc(100vh * var(--cursor-y) - var(--size) / 2), 0);
  pointer-events: none;
  opacity: 0;
}
#cursor p {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -25%);
  font-size: 40px;
}

.advantages {
  background-color: #232323;
  width: 100%;
  padding: 100px 0;
}
.advantages .max-width {
  justify-content: space-between;
}
.advantages img {
  width: calc(50% - 25px);
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages img:last-child {
  margin-left: 50px;
}
.advantages .right {
  width: 100%;
}
.advantages h3 {
  margin-bottom: 50px;
}
.advantages .left {
  width: calc(100% - 20px);
  padding-right: 50px;
}
.advantages .left * {
  color: #ffffff;
}
.advantages .btn {
  border: 1px solid #ffffff;
  margin-top: 100px;
}
.advantages .btn:hover {
  border: 1px solid rgba(247, 247, 247, 0.5);
}
.advantages .btn:hover .flex {
  opacity: 0.5;
}
.advantages .btn .flex {
  background: #ffffff;
}
.advantages .advantage p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.advantages .advantage span {
  margin-right: 10px;
}

.process {
  padding: 100px 0 20px 0;
}
.process h3 {
  font-size: 60px;
  margin-bottom: 10px;
}
.process_item {
  justify-content: space-between;
  padding: 40px 0;
  border-top: 2px solid #000000;
}
.process_item .right {
  align-items: center;
  font-size: 60px;
}
.process_item .left p {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
.process_header {
  margin-bottom: 40px;
}
.process_header p {
  opacity: 0.7;
  font-size: 12px;
}/*# sourceMappingURL=contact.css.map */