@media (max-width: 840px) {
  .desc .content {
    -ms-grid-columns: 50% calc(50% - 40px) !important;
        grid-template-columns: 50% calc(50% - 40px) !important;
  }
  .about .item:not(:last-child) {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 700px) {
  .desc .content {
    margin-bottom: 60px !important;
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
  }
  .desc .content .left {
    margin-bottom: 40px;
  }
  .about {
    margin: 50px 0 60px 0 !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .about .item:not(:last-child) {
    margin-bottom: 20px !important;
  }
}
/*# sourceMappingURL=media.css.map */