@media (max-width: 840px){
    .desc{
        .content{
            grid-template-columns: 50% calc(50% - 40px) !important;
        }
    }
    .about{

        .item{
            &:not(:last-child){
                margin-bottom: 20px !important;
            }
        }
    }
}   
@media (max-width: 700px){
    .desc{
        .content{
            margin-bottom: 60px !important;
            grid-template-columns: 100% !important;
            .left{
                margin-bottom: 40px;
            }
        }
    }
    .about{
        margin: 50px 0 60px 0 !important;
        justify-content: center !important;
        .item{
            &:not(:last-child){
                margin-bottom: 20px !important;
            }
        }
    }
}   