$yellow: #ffe425;
$black: #232323;

$grey: #f7f7f7;
$text-letter-spacing-size: 1.5px;
$text-line-height: 20px;
$font-size-standart: 14px;
$font-size-headers: 32px;


$text-letter-spacing-size: 1.5px;
$text-line-height: 20px;
$font-size-headers: 32px;


$padding: 100px;

button{
    background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #FFFFFF;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

@font-face {
    font-family: 'Mak';
    src: url(/fonts/d/GothamPro/GothamPro.otf);
}

* {
    font-family: 'Mak', sans-serif !important;
    letter-spacing: $text-letter-spacing-size;
}

* p {
    line-height: $text-line-height;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #ffffff;
    outline: none;
}

h3 {
    margin-bottom: 20px;
    font-size: $font-size-headers;
    font-weight: bold;
}

.max-width {
    max-width: 1700px;
    margin: 0 auto;
}

.transition3s {
    transition: .3s;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.btn {
    border: 1px solid rgba(35, 35, 35, .4);
    border-radius: 30px;
    padding: 20px 30px;
    width: fit-content;
    transition: .3s;

    p {
        margin: 0 !important;
    }

    &:hover {
        border: 1px solid rgba(35, 35, 35, 1);

        span {
            transform: scale(1.2);
            background-color: rgba(35, 35, 35, 1);
            margin: 10px 30px 0 0;
        }
    }

    span {
        transition: .3s;
        border-radius: 0;
        display: block;
        width: 30px;
        height: 1px;
        background-color: rgba(35, 35, 35, .4);
        margin: 10px 20px 0 0;

        &:after,
        &:before {
            content: '';
            position: absolute;
        }
    }
}

.cursor {
    position: fixed;
    pointer-events: none;
    opacity: 0;

}

.cursor-eye {
    top: -50px;
    left: -50px;
    padding: 30px 18px;
    z-index: 1;
    border-radius: 50%;
    background-color: $yellow;
}