@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;
  
    $b: $b * 1px;
  
    @return calc( #{$k} * 100vw + #{$b} );
}

*{
    font-size: 16px;
}
html{
    overflow-x: hidden;
}
section:nth-child(1){
    background: url(../images/main.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 40px;
    position: relative;
    margin-bottom: 100px;
    & *{
        color: #ffffff;
    }
    .info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 680px;
        h1{ 
            font-family: Arial;
            font-size: calcFluidFontSize(30, 100, 480, 1920);
            margin: 20px 0;
        }
        svg{
            cursor: pointer;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
        }
    }
}
.menu{
    position: sticky;
    width: calc(100%);
    background: #ffffff;
    padding: 10px 40px;
    top: 0;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    &, ul, & > div{
        display: flex;
        align-items: center;
    }
    & > ul{
        li{
            &:not(:first-child){
                margin-left: 60px;
            
            }
            &.active{
                color: #6FC76F;
            }
        }
    }
    & > div{
        a{
            color: #ffffff;
            background: #6FC76F;
            padding: 20px 25px;
            border-radius: 100px;
            // transform: translate(0, -19px);
            text-decoration: none;
        }
        ul{
            margin-right: 30px;
            li{
                &:not(:first-child){
                    margin-left: 36px;
                }
                span{
                    opacity: .5;
                }
            }
        }
    }
}
section:nth-child(3){
    padding: 0 40px;
    margin-top: 90px;
    .desc{
        & *{
            font-family: Arial, Helvetica, sans-serif;
        }
        .content{
            display: grid;
            grid-template-columns: 35% calc(64% - 40px);
            margin-bottom: 120px;
        }
        .left{
            p{
                font-size: 34px;
                line-height: 44px;
            }
            ul{
                line-height: 30px;
                margin-top: 70px;
                li{
                    color: #6FC76F;  
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p{
                line-height: 30px;
                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }
        img{
            width: 100%;
            max-height: 700px;
            object-fit: cover;
        }
    }
    .about{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
        justify-content: space-evenly;
        margin: 100px 0 120px 0;
        & *{
            font-family: Arial, Helvetica, sans-serif;
        }
        .item{
            display: flex;
            .right{
                margin-left: 30px;
                p:first-child{
                    letter-spacing: 1.4px;
                    opacity: 0.5;
                    font-size: 14px;
                }
                p:nth-child(2){
                    font-size: 24px;
                    margin: 6px 0 20px 0;
                }
                p:last-child{
                    line-height: 23px;
                }
            }
            &:not(:last-child){
                margin-bottom: 20px !important;
            }
        }
    }
}
section:nth-child(4){
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 40px;
    background: #1F1F1F;
    & *{
        font-family: Arial, Helvetica, sans-serif;
        color: #ffffff;
    }
    & div:first-child{
        span{
            opacity: .5;
            font-size: 12px;
        }
    }
    .header{
        p:first-child{
            font-size: 34px;
            line-height: 38px;
        }
        p:nth-child(2){
            margin-top: 30px;
            line-height: 23px;
        }
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 80px 0;
        height: calc(100% - 80px - 160px);
        padding-right: 40px;
        .btn_slider{
            display: flex;
            width: 80px;
            justify-content: space-between;
        }
    }
    .right{
        height: 100vh;
        // margin: 40px 0;
        img{
            width: 100%;
            height: calc(100% - 80px);
            object-fit: cover;
        }
    }
}
section:nth-child(5){
    padding: 120px 40px 100px 40px;
    & *{
        font-family: Arial;
    }
    & > p{
        font-size: 34px;
        margin-bottom: 40px;
    }
    .answers{
        .answer{
            cursor: pointer;
            padding: 40px 0;
            &:nth-child(odd){
                border-top: 2px solid #EEEEEE;
                border-bottom: 1px solid #EEEEEE;
            }
            & > p{
                display: flex;
                justify-content: space-between;
            }
        }
        .full_answer{
            position: relative;
            margin-right: 15px;
            &:before, &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                background: #6FC76F;
                transition: .4s;
            }
            &:before{
                width: 22px;
                height: 2px;
                transform: translate(10px, 10px);
            }
            &:after{
                width: 2px;
                height: 22px;
            }
            &.active:after{
                transform: rotate(90deg);
            }
        }

    }
}