@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

section:nth-child(1) {
  background: url(../images/main.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  position: relative;
  margin-bottom: 100px;
}

section:nth-child(1) * {
  color: #ffffff;
}

section:nth-child(1) .info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 680px;
}

section:nth-child(1) .info h1 {
  font-family: Arial;
  font-size: calc( 0.04861 * 100vw + 6.66667px);
  margin: 20px 0;
}

section:nth-child(1) .info svg {
  cursor: pointer;
}

section:nth-child(1) .info p {
  font-family: 'Ubuntu', sans-serif;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  width: calc(100%);
  background: #ffffff;
  padding: 10px 40px;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu, .menu ul, .menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu > ul li:not(:first-child) {
  margin-left: 60px;
}

.menu > ul li.active {
  color: #6FC76F;
}

.menu > div a {
  color: #ffffff;
  background: #6FC76F;
  padding: 20px 25px;
  border-radius: 100px;
  text-decoration: none;
}

.menu > div ul {
  margin-right: 30px;
}

.menu > div ul li:not(:first-child) {
  margin-left: 36px;
}

.menu > div ul li span {
  opacity: .5;
}

section:nth-child(3) {
  padding: 0 40px;
  margin-top: 90px;
}

section:nth-child(3) .desc * {
  font-family: Arial, Helvetica, sans-serif;
}

section:nth-child(3) .desc .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% calc(64% - 40px);
      grid-template-columns: 35% calc(64% - 40px);
  margin-bottom: 120px;
}

section:nth-child(3) .desc .left p {
  font-size: 34px;
  line-height: 44px;
}

section:nth-child(3) .desc .left ul {
  line-height: 30px;
  margin-top: 70px;
}

section:nth-child(3) .desc .left ul li {
  color: #6FC76F;
}

section:nth-child(3) .desc .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section:nth-child(3) .desc .right p {
  line-height: 30px;
}

section:nth-child(3) .desc .right p:not(:last-child) {
  margin-bottom: 30px;
}

section:nth-child(3) .desc img {
  width: 100%;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

section:nth-child(3) .about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 380px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px 0 120px 0;
}

section:nth-child(3) .about * {
  font-family: Arial, Helvetica, sans-serif;
}

section:nth-child(3) .about .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section:nth-child(3) .about .item .right {
  margin-left: 30px;
}

section:nth-child(3) .about .item .right p:first-child {
  letter-spacing: 1.4px;
  opacity: 0.5;
  font-size: 14px;
}

section:nth-child(3) .about .item .right p:nth-child(2) {
  font-size: 24px;
  margin: 6px 0 20px 0;
}

section:nth-child(3) .about .item .right p:last-child {
  line-height: 23px;
}

section:nth-child(3) .about .item:not(:last-child) {
  margin-bottom: 20px !important;
}

section:nth-child(4) {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  padding: 40px;
  background: #1F1F1F;
}

section:nth-child(4) * {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

section:nth-child(4) div:first-child span {
  opacity: .5;
  font-size: 12px;
}

section:nth-child(4) .header p:first-child {
  font-size: 34px;
  line-height: 38px;
}

section:nth-child(4) .header p:nth-child(2) {
  margin-top: 30px;
  line-height: 23px;
}

section:nth-child(4) .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
  height: calc(100% - 80px - 160px);
  padding-right: 40px;
}

section:nth-child(4) .left .btn_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section:nth-child(4) .right {
  height: 100vh;
}

section:nth-child(4) .right img {
  width: 100%;
  height: calc(100% - 80px);
  -o-object-fit: cover;
     object-fit: cover;
}

section:nth-child(5) {
  padding: 120px 40px 100px 40px;
}

section:nth-child(5) * {
  font-family: Arial;
}

section:nth-child(5) > p {
  font-size: 34px;
  margin-bottom: 40px;
}

section:nth-child(5) .answers .answer {
  cursor: pointer;
  padding: 40px 0;
}

section:nth-child(5) .answers .answer:nth-child(odd) {
  border-top: 2px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

section:nth-child(5) .answers .answer > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section:nth-child(5) .answers .full_answer {
  position: relative;
  margin-right: 15px;
}

section:nth-child(5) .answers .full_answer:before, section:nth-child(5) .answers .full_answer:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  background: #6FC76F;
  -webkit-transition: .4s;
  transition: .4s;
}

section:nth-child(5) .answers .full_answer:before {
  width: 22px;
  height: 2px;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

section:nth-child(5) .answers .full_answer:after {
  width: 2px;
  height: 22px;
}

section:nth-child(5) .answers .full_answer.active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */